@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgb(58, 58, 116);
}

.navbar .brand-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45px;
  width: 45px;
}

.navbar .brand-Wrapper .brand-Img {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45px;
  width: 45px;
}

.navbar input {
  display: flex;
  font-family: inherit;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  text-align: start;
  resize: none;
  height: 20px;
  outline: none;
  background-color: rgb(58, 58, 116);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
  padding: 5px;
}

.navbar input::placeholder {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 200;
  opacity: 1; /* Firefox */
}

.header {
  padding: 5px;
  background-color: rgb(27, 27, 53);
}

.header .head-Wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  text-align: start;
  align-items: start;
}

.header .head-Wrap .loading-Animation {
  display: flex;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .head-Wrap .card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-color: rgb(68, 68, 105);
  width: 250px;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
}

.header .head-Wrap .card-wrap img {
  height: 70%;
  background-size: cover;
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.header .head-Wrap .card-wrap .text-Rate-Wrap {
  display: flex;
  width: 100%;
  text-align: start;
  align-items: center;
  height: 30%;
  justify-content: space-evenly;
}

.header .head-Wrap .card-wrap .text-Rate-Wrap .rating-H3 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 53);
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}

.header .head-Wrap .card-wrap .text-Rate-Wrap .title-H3 {
  width: 70%;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: inherit;
  color: rgb(255, 255, 255);
}
