@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgb(58, 58, 116);

  .brand-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    width: 45px;

    .brand-Img {
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 45px;
      width: 45px;
    }
  }

  input {
    display: flex;
    font-family: inherit;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    text-align: start;
    resize: none;
    height: 20px;
    outline: none;
    background-color: rgb(58, 58, 116);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    padding: 5px;
  }

  input::placeholder {
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-weight: 200;
    opacity: 1; /* Firefox */
  }
}
